@model IEnumerable<GoldTeamProject7.Models.Product>

@{
    ViewBag.Title = "Home Page";
}

<div class="main-jumbotron">
    <div class="row">
        <div class="large-12 columns">
            <h2>Buy, Sell, &amp; Trade</h2>
            <h3>Pick and item, message a buyer, and <br />meet at a public place directly in the middle.</h3>
        </div>
        <div class="large-6 columns">
            <a href="/products/create" class="jumbotron-btn">Post an Item</a>
        </div>
        <div class="large-6 columns">
            <a href="/account/register" class="jumbotron-btn">Get an Account</a>
        </div>
    </div>
</div>
<div class="row">
        @foreach (var item in Model)
        {
            <div class="large-3 columns">
                <div class="product-card">
                    <a href="/Products/Details/@Html.DisplayFor(modelItem => item.ID)">
                        <img src="data:image;base64,@Convert.ToBase64String(item.MainPhoto)" />
                        <p class="title">@Html.DisplayFor(modelItem => item.Title)</p>
                        <p class="price">@Html.DisplayFor(modelItem => item.Price)</p>
                    </a>
                </div>
            </div>
        }  
</div>