@model IEnumerable<GoldTeamProject7.Models.Product>

@{
    ViewBag.Title = "Home Page";
}

<div class="main-jumbotron">

</div>
<div class="row">
        @foreach (var item in Model)
        {
            <div class="large-3 columns">
                <div class="product-card">
                    <a href="/Products/Details/@Html.DisplayFor(modelItem => item.ID)">
                        <img src="data:image;base64,@Convert.ToBase64String(item.MainPhoto)" />
                        <p>@Html.DisplayFor(modelItem => item.Title)</p>
                        <p>@Html.DisplayFor(modelItem => item.Price)</p>
                    </a>
                </div>
            </div>
        }  
</div>