/*Custom CSS

    Table of contents:
    i. Objects
    1. Typography
    2. Navigation
    3. Homepage
    4. Product Details
    5. Footer

*/

/*===================================
    Typography
=====================================*/

    body:not(#navigation-bar) {
        background-color: #f6f6f6
    }

body a,
body p,
h1, h2, h3, h4, h5, h6 {
    font-family: 'Dosis', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: #333;
}

a {
    text-decoration: none;
}

/*===================================
    NAVIGATION
=====================================*/

#navigation-bar {
    height: 100px;
    background-color: #fff;
    border-bottom: 1px solid #d7d7d7;
    position: fixed;
    width: 100%;
    z-index: 1;
}

    #navigation-bar li {
    list-style: none;
    }

.navbar-brand {
     background: url(../Content/img/between-logo.png) no-repeat top left;
     background-size: 87%;
     display: block;
     width: 250px;
     height: 100px;
     text-indent: -9999px; /* hides the link text */
     clear: none;
}

.nav li {
    float: left;
    clear: none;
}

.nav-search input[type=text] {
    width: 85%;
    height: 45px;
    margin: 25px 0 auto 0;
    background-color: #f0f0f0;
    border: 1px solid #c1c1c1;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    float: left;
    padding: 5px;
}

.nav-search button {
    height: 45px;
    width: 15%;
    padding: 5px;
    margin: 25px 0 auto 0;
    padding-right: 10px;
    background-color: #f0f0f0;
    float: left;
    border: 1px solid #c1c1c1;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #515151;
}

#registerLink,
#loginLink,
.logOffbutton {
    float: left;
    display: inline-block;
    padding: 15px;
    margin-right: 10px;
    width: 120px;
    text-align: center;
    margin-top: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 3px 0px #f0f0f0;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

    #registerLink:hover,
    #loginLink:hover,
    .logOffbutton:hover {
        box-shadow: 0 1px 0 #c2c2c2;
        opacity: .7;   
    }

#loginLink,
.logOffbutton {
    background-color: #515151;
    border: 1px solid #3d3d3d;
}

#registerLink
{
    background-color: #00b4ff;
    border: 1px solid #00a2e5;
}

#welcome-message {
    float: left;
    font-size: .8em;
    font-weight: bold;
    color: #515151;
    margin: 0;
    padding: 0;
    line-height: 60px;
    margin-right: 0px;
}


/*===================================
    HOMEPAGE
=====================================*/

.main-jumbotron {
    height: 500px;
    background-color: #515151;
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/Content/img/jumbo-bg.jpg);
    background-position: -500px center;
}

    .main-jumbotron h2,
    .main-jumbotron h3 {
        text-align: center;
        color: #fff;
        text-shadow: 0 3px 0 #333;
        
    }

    .main-jumbotron h2 {
        font-weight: bold;
        font-size: 80px;
        margin-top: 75px;
    }

    .main-jumbotron h3 {
        font-size: 30px;
        font-weight: 600;
    }

.jumbotron-btn {
    background-color: #00b4ff;
    border: 1px solid #00a2e5;
    color: #fff;
    font-weight: 600;
    padding: 15px 45px;
    border-radius: 5px;
    font-size: 28px;
    text-transform: uppercase;
    box-shadow: #c2c2c2 0px 3px;
    transition: all .2s ease-in-out;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 50px;
    width: 300px;
}

    .jumbotron-btn:hover {
        background-color: #3ec2fa;
        color: #fff;
        box-shadow: #c2c2c2 0 2px;
    }

.product-card {
    box-shadow: #838383 0 0 3px;
    background-color: #727272;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 40px;
    transition: all .3s ease-in-out;
}

    .product-card:hover {
        opacity: .8;
    }

    .product-card img {
        height: auto;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .product-card .title,
    .product-card .price {
        text-align: center;
    }

    .product-card .title {
        font-weight: bold;
        color: #fff;
        font-size: 1.3em;
        text-shadow: 0 1px 0 #000;
    }

    .product-card .price {
        font-size: 1.3em;
        color: #00b4ff;
        font-weight: bold;
        margin-top: -5px;
        text-shadow: 0 1px 0 #000;
    }

.item { width: 22%; }

.categories {
    width: 100%;
    height: 30px;
    overflow: hidden;
}

.categories p {
    display: inline;
    font-weight: bold;
    font-size: .8em;
    text-align: center;
    margin-left: 15px;
}

.categories:before {
    content: " ";
    position: absolute;
    width: 100%;
    left: 0;
    height: 30px;
    background-color: #00b4ff;
}


/*===================================
 PRODUCT DETAILS
=====================================*/

.product-title,
.detail-price {
    font-size: 60px;
}

.product-title {
    font-weight: normal;
}

.main-image img {
    border-radius: 5px;
}

.detail-price {
    margin-top: -23px;
}

.purchase-button {
    background-color: #00b4ff;
    border: 1px solid #00a2e5;
    color: #fff;
    font-weight: 600;
    padding: 15px 45px;
    border-radius: 5px;
    position: absolute;
    font-size: 28px;
    text-transform: uppercase;
    box-shadow: #c2c2c2 0px 3px;
    transition: all .2s ease-in-out;
}

    .purchase-button:hover {
       opacity: .7;
       box-shadow: #c2c2c2 0px 1px;
    }

.purchase-info {
    margin-top: 85px;
    font-size: 12px;
    font-weight: bold;
}

.seller-headline {
    margin-top: 50px;
    font-weight: bold;
    font-size: 1.2em;
}

.seller-name {
    font-weight: 600;
    font-size: 2em;
    margin-top: 5px;
}

.seller-image img {
    width: 80px;
    border-radius: 50%!important;
    margin-right: 20px;
}

.seller-image img,
.seller-name,
.detail-zipcode {
    float: left;
}

.detail-zipcode {
   margin-top: 40px;
   margin-left: -55px;
   font-size: 1.2em;
}

    .detail-zipcode span {
        font-weight: bold;
        padding-right: 7px;
    }

.detail-desc {
    font-size: 1.3em;
    margin-bottom: 20px;
}

.detail-category {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    display: inline;
    border-radius: 5px;
}

/*===================================
    FOOTER
=====================================*/

footer {
    margin-top: 50px;
    background-color: #333;
    height: 100px;
    color: #fff!important;
}

    footer p {
        color: #fff;
        text-align: center;
        line-height: 100px;
    }


/*===================================
    Objects
=====================================*/
.pull-right {
    float: right!important;
    text-align: right;
}











meta.foundation-version {
  font-family: "/5.5.2/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-small-only {
  font-family: "/only screen and (max-width: 40em)/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.0625em)/";
  width: 40.0625em; }

meta.foundation-mq-medium-only {
  font-family: "/only screen and (min-width:40.0625em) and (max-width:64em)/";
  width: 40.0625em; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.0625em)/";
  width: 64.0625em; }

meta.foundation-mq-large-only {
  font-family: "/only screen and (min-width:64.0625em) and (max-width:90em)/";
  width: 64.0625em; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.0625em)/";
  width: 90.0625em; }

meta.foundation-mq-xlarge-only {
  font-family: "/only screen and (min-width:90.0625em) and (max-width:120em)/";
  width: 90.0625em; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.0625em)/";
  width: 120.0625em; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

html, body {
  height: 100%; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

html,
body {
  font-size: 100%; }

body {
  background: #fff;
  color: #222222;
  cursor: auto;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  position: relative; }

a:hover {
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

img {
  -ms-interpolation-mode: bicubic; }

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object,
.mqa-display img,
.mqa-display embed,
.mqa-display object {
  max-width: none !important; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.hide {
  display: none; }

.invisible {
  visibility: hidden; }

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  display: inline-block;
  vertical-align: middle; }

textarea {
  height: auto;
  min-height: 50px; }

select {
  width: 100%; }

.row {
  margin: 0 auto;
  width: 62.5em;
  max-width: none;
}
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
  .row.collapse > .column,
  .row.collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .row.collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .row .row {
    margin: 0 -0.9375em;
    max-width: none;
    width: auto; }
    .row .row:before, .row .row:after {
      content: " ";
      display: table; }
    .row .row:after {
      clear: both; }
    .row .row.collapse {
      margin: 0;
      max-width: none;
      width: auto; }
      .row .row.collapse:before, .row .row.collapse:after {
        content: " ";
        display: table; }
      .row .row.collapse:after {
        clear: both; }

.column,
.columns {
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left; }

.column + .column:last-child,
.columns + .column:last-child, .column +
.columns:last-child,
.columns +
.columns:last-child {
  float: right; }
.column + .column.end,
.columns + .column.end, .column +
.columns.end,
.columns +
.columns.end {
  float: left; }

  .large-push-0 {
    position: relative;
    left: 0;
    right: auto; }

  .large-pull-0 {
    position: relative;
    right: 0;
    left: auto; }

  .large-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .large-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .large-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .large-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .large-push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .large-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .large-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .large-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .large-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .large-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .large-push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .large-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .large-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .large-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .large-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .large-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .large-push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .large-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .large-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .large-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .large-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .large-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left; }

  .large-1 {
    width: 8.33333%; }

  .large-2 {
    width: 16.66667%; }

  .large-3 {
    width: 25%; }

  .large-4 {
    width: 33.33333%; }

  .large-5 {
    width: 41.66667%; }

  .large-6 {
    width: 50%; }

  .large-7 {
    width: 58.33333%; }

  .large-8 {
    width: 66.66667%; }

  .large-9 {
    width: 75%; }

  .large-10 {
    width: 83.33333%; }

  .large-11 {
    width: 91.66667%; }

  .large-12 {
    width: 100%; }

  .large-offset-0 {
    margin-left: 0 !important; }

  .large-offset-1 {
    margin-left: 8.33333% !important; }

  .large-offset-2 {
    margin-left: 16.66667% !important; }

  .large-offset-3 {
    margin-left: 25% !important; }

  .large-offset-4 {
    margin-left: 33.33333% !important; }

  .large-offset-5 {
    margin-left: 41.66667% !important; }

  .large-offset-6 {
    margin-left: 50% !important; }

  .large-offset-7 {
    margin-left: 58.33333% !important; }

  .large-offset-8 {
    margin-left: 66.66667% !important; }

  .large-offset-9 {
    margin-left: 75% !important; }

  .large-offset-10 {
    margin-left: 83.33333% !important; }

  .large-offset-11 {
    margin-left: 91.66667% !important; }

  .large-reset-order {
    float: left;
    left: auto;
    margin-left: 0;
    margin-right: 0;
    right: auto; }

  .column.large-centered,
  .columns.large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .column.large-uncentered,
  .columns.large-uncentered {
    float: left;
    margin-left: 0;
    margin-right: 0; }

  .column.large-centered:last-child,
  .columns.large-centered:last-child {
    float: none; }

  .column.large-uncentered:last-child,
  .columns.large-uncentered:last-child {
    float: left; }

  .column.large-uncentered.opposite,
  .columns.large-uncentered.opposite {
    float: right; }

  .row.large-collapse > .column,
  .row.large-collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .row.large-collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .row.large-uncollapse > .column,
  .row.large-uncollapse > .columns {
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left; }

  .push-0 {
    position: relative;
    left: 0;
    right: auto; }

  .pull-0 {
    position: relative;
    right: 0;
    left: auto; }

  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }



